/* FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

/* VARIABLES */

:root {
  --body-background-color: #f1e7dd;
  --secondary-color: rgb(223, 205, 186);
  --accent-color: rgb(112, 62, 62);

  --primary-text-color: #4d3b3b;
  --secondary-text-color: #7a5e5e; 
  --accent-text-color: #6e3d3d;
  --light-text-color: #f5e9e0;

  --ff-body: "Montserrat", sans-serif;
  --ff-logo: "Kalnia", serif;

  --fs-xxl: 5rem;
  --fs-xl: 3rem;
  --fs-800: 2rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-xs: 0.9rem;

  --nav-padding: 6rem 3rem;
  --content-width: 90%;
}

@media (min-width: 640px) {
  :root {
    --fs-xl: 4rem;
    --fs-600: 1.75rem;
    --fs-400: 1.125rem;

    --nav-padding: unset;
    --content-width: 80%;
  }
}

/* BASE CSS */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  background-color: var(--body-background-color);
  color: var(--primary-text-color);
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1120px;
  margin-inline: auto;
}

main {
  overflow: hidden;
  padding-top: 5rem;
}

.content {
  max-width: var(--content-width);
  margin-inline: auto;
}

h1 {
  font-size: var(--fs-xl);
  margin: 2rem;
  text-align: center;
  font-family: var(--ff-logo);
}

.mobile-hidden {
  display: none;
}

.flex {
  display: flex;
}

.animated-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: width 1s;
}

.animated-underline:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--secondary-text-color);
}

/* BUTTONS  */
.btn {
  display: block;
  padding: 1rem 2rem;
  margin: 0;
  max-width: max-content;
}

.btn.dark {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.btn.light {
  border: 2px solid var(--body-background-color);
  color: var(--body-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.btn.underline {
  display: block;
  padding: 0 0 3px;
  border-bottom: 2px solid var(--accent-color);
}

.btn.underline::after {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}

/* HEADER AND NAV  */

header {
  position: fixed;
  inset: 0;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  1.5rem;
  z-index: 100;
  background-color: var(--body-background-color);
  border-radius: 0 0  2px 2px;
  letter-spacing: 2px;
  font-size: var(--fs-xs);
}

.nav-logo {
  font-family: var(--ff-logo);
  font-size: var(--fs-600);
  color: var(--accent-color);
  font-weight: 400;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  white-space: nowrap;
  align-items: baseline;
}

.nav-item:hover {
    color: var(--secondary-text-color);
}

nav {
  background-color: var(--secondary-color);
  position: fixed;
  inset: 0 0 0 100%;
  padding: var(--nav-padding);
  color: var(--ff-body);
  font-weight: 600;
  z-index: 99;
  transition: inset .8s;
}

nav.open {
    inset: 0 0 0 50%;
}

nav::before {
  content: "";
  position: absolute;
  inset: 5px;
  border: 1px solid var(--body-background-color);
}

.nav-toggle {
    display: block;
    z-index: 100;
    font-size: var(--fs-700);
  }

@media (min-width: 640px) {

  header {
      justify-content: center;
      background-color: rgb(255, 253, 245);
  }
  .nav-list {
    flex-direction: row;
  }

  .nav-toggle {
    display: none;
  }

  nav::before {
    display: none;
  }

  nav {
    position: static;
    background-color: transparent;
  }

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }
}

/* HERO SECTION  */

.hero {
  min-height: 80vh;
  background: url("/assets/img/hero-background.webp") no-repeat;
  background-size: cover;
  max-width: 100vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;

  color: white;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
inset: 0;
height: auto;
  width: 100vw;
}

.hero-content {
  position: relative;
  z-index: 10;
  text-align: center;
}


.hero p {
  margin-bottom: 2rem;
}

.hero-content .btn {
  margin-inline: auto;
}

/* ABOUT US SECTION */

section#about-us p {
  text-align: justify;
  line-height: var(--fs-600);
}

section#about-us img{
  width: 150%;
  position: relative;
  left: -100px;
}

@media (min-width:640px) {
  section#about-us h1 {
    margin-bottom: 0;
  }

  section#about-us .content {
    display: flex;
    gap: 1rem ;
    align-items: center;
  }

  section#about-us .content-text {
    flex: 1;
    height: max-content;
  }

  section#about-us .cake-img {
    flex: 1;
  }

  section#about-us .cake-img img {
    width: 100%;
    position: static;
    flex: 2;
  }

  
}

